*{
    font-family: 'Poppins', 'Sans-serif';
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-auto-columns: 1fr;
    grid-template-areas: "cabecalho" "principal" "rodape";
}
.cabecalho{
    grid-area: cabecalho;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 15px 60px 0px #9F9FA0;
}
.cabecalho > h1{
    margin: 0px;
    font-weight: 400;
    font-size: 2.5rem;
}
.cabecalho > h2{
    margin: 0px;
    font-weight: 400;
    font-size: 1rem;
}
.conteudo{
    position: relative;
    height: 100%;
    padding: 10px;
}
.principal{
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: #f0f0f0;
}
.rodape{
    grid-area: rodape;
    background-color: black;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opcoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.login{
    display: flex;
    align-items: center;
}
.login > h4{
    color: #FFFFFF;
    background-color: #000000;
    margin: 0px;
    font-weight: 400;
}